.App {
  background-color: var(--background-color);
  min-height: 100vh;
  width: 100vw;
  color: var(--primary-font-color);
  font-size: calc(10px + 2vmin);
  overflow: hidden;
  position: relative;
}

.sunflower {
  position: absolute;
  top: -20vmin;
  right: -20vmin;
  height: 50vmin;
  pointer-events: none;
  filter: drop-shadow(0px 0px 80px var(--turquoise-highlight));
}

@media (prefers-reduced-motion: no-preference) {
  .sunflower {
    animation: sunflower-spin infinite 60s linear;
  }
}

@keyframes sunflower-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
