.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 10vh;
}

.border {
  align-self: flex-start;
  height: 1px;
  width: 40%;
  margin-top: 2.5vh;
  background: linear-gradient(to right, var(--turquoise-highlight), var(--background-color));
}
