@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');

/* Variables */

:root {
  /* Colors */
  --background-color: #0A192F;
  --primary-font-color: #DDFC74;
  --secondary-font-color: #FEB2FF;
  --red-highlight: #F02D3A;
  --turquoise-highlight: #2FE6DE;

  /* Fonts */
  --primary-font: 'Fira Code';
}

body {
  margin: 0;
  font-family: var(--primary-font), 'Courier New', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
